// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #004422; // Darker spring green
$secondary : #2b4136; // Darker chartreuse
$tertiary  : #3b4f3b; // Darker dark olive green
$accent    : #007a55; // Darker medium spring green

$dark      : #091109; // Even darker dark olive green
$dark-page : #111a11; // Even darker olive drab

$positive  : #228b22; // Darker lime green
$negative  : #cd5c5c; // Darker tomato
$info      : #008b8b; // Darker light sea green
$warning   : #b8860b; // Darker gold
